body {
  font-size: 16px;
  line-height: 1.5;
  font-family: "Helvetica Neue", Helvetica, "Segoe UI", Tahoma, Arial,
    sans-serif;
}
$primary: #612069;
.container {
  max-width: 1140px;
  margin: 0 auto;
}
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.hero_btn {
  padding: 14px 26px;
  border-radius: 5px;
  font-size: 15px;
  text-transform: uppercase;
  border: 1px solid $primary;
  font-weight: 700;
  outline: 0;
}
.button {
  margin: 18px 0;
}
hr {
  height: 1px;
  background-color: #ccc;
  border: none;
}
.padding {
  padding: 3rem 0;
}
.center_heading {
  text-align: center;
  line-height: 1.8;
  h3 {
    color: #1c1c1c;
    font-size: 3rem;
    font-weight: 700;
  }
  p {
    font-size: 20px;
    color: #454545;
  }
}
