/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-size: 16px;
  line-height: 1.5;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.hero_btn {
  padding: 14px 26px;
  border-radius: 5px;
  font-size: 15px;
  text-transform: uppercase;
  border: 1px solid #612069;
  font-weight: 700;
  outline: 0;
}

.button {
  margin: 18px 0;
}

.header {
  position: fixed;
  z-index: 9999;
  width: 100%;
  padding: 12px 0;
  background: #ffffff;
}

.header .logo {
  width: 160px;
}

.header .nav li {
  display: inline-block;
  margin: 12px;
}

.header .nav li a {
  color: #232222;
  font-size: 18px;
}

.nevigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav {
  margin: 0 12px;
}

.btn {
  padding: 8px 14px;
  background: #612069;
  border-radius: 5px;
}

.btn a {
  font-size: 16px;
  color: #ffffff;
}

.hero {
  padding-top: 200px;
  padding-bottom: 90px;
  position: relative;
  background: #e9e5e1;
}

.hero .hero_heading {
  color: #1c1c1c;
}

.hero .hero_heading h2 {
  font-size: 64px;
  font-weight: 700;
  line-height: 1;
}

.hero .hero_heading h3 {
  font-size: 24px;
}

.btn-1 {
  background: #612069;
}

.btn-1 a {
  color: #ffffff;
}

.btn-2 a {
  color: #612069;
}

.btn-2 {
  margin-left: 6px;
}

.btn-1:hover {
  background: #2f0235;
}

.hero_para a {
  color: #1e64a3;
  text-decoration: underline;
}
/*# sourceMappingURL=style.css.map */